<ion-tabs class="tabs-icon-top tabs-light">
        <ion-tab title="Home" icon="ion-ios-home-outline" ui-sref="tabs.home" class="positive">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Mensajes" icon="ion-ios-email-outline" ui-sref="tabs.mensajes" class="positive">
          <ion-nav-view name="mensajes-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Profesores" icon="ion-ios-glasses-outline" ui-sref="tabs.profesor" class="positive">
          <ion-nav-view name="profesor-tab"></ion-nav-view>
        </ion-tab>
          
          
          <ion-tab title="Suscripiones" icon="ion-ios-color-wand-outline" ui-sref="tabs.suscripcion" class="positive">
          <ion-nav-view name="suscripcion-tab"></ion-nav-view>
        </ion-tab>
      </ion-tabs>